<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="progress">
                    <div
                        class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [attr.ariaValuenow]="progreso1"
                        [style.width]="progreso1 + '%'"
                    ></div>
                </div>
                <div class="progress mt-3">
                    <div
                        class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                        role="progressbar"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [attr.ariaValuenow]="progreso2"
                        [style.width]="progreso2 + '%'"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador
                    leyenda="Blue Progress"
                    [progreso]="progreso1"
                    (cambiaValorProgreso)="progreso1 = $event"
                ></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador
                    leyenda="Green Progress"
                    [progreso]="progreso2"
                    (cambiaValorProgreso)="progreso2 = $event"
                ></app-incrementador>
            </div>
        </div>
    </div>
</div>
