<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Usuarios
                </h4>
                <table class="table table-hover" *ngIf="usuarios.length > 0">
                    <tbody>
                        <tr
                            *ngFor="let usuario of usuarios"
                            routerLink="/usuarios"
                            style="cursor: pointer;"
                        >
                            <td style="width: 92px;">
                                <img
                                    [src]="usuario.img | imagen"
                                    alt="Imagen de usuario"
                                    class="img-fluid"
                                />
                            </td>
                            <td>{{ usuario.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="usuarios.length === 0">
                    No se encontro ningún registro
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Medicos
                </h4>
                <table class="table table-hover" *ngIf="medicos.length > 0">
                    <tbody>
                        <tr
                            *ngFor="let medico of medicos"
                            [routerLink]="['/medico', medico._id]"
                            style="cursor: pointer;"
                        >
                            <td style="width: 92px;">
                                <img
                                    [src]="medico.img | imagen: 'medicos'"
                                    alt="Imagen de usuario"
                                    class="img-fluid"
                                />
                            </td>
                            <td>{{ medico.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="medicos.length === 0">
                    No se encontro ningún registro
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Hospitales
                </h4>
                <table class="table table-hover" *ngIf="hospitales.length > 0">
                    <tbody>
                        <tr
                            *ngFor="let hospital of hospitales"
                            routerLink="/hospitales"
                            style="cursor: pointer;"
                        >
                            <td style="width: 92px;">
                                <img
                                    [src]="hospital.img | imagen: 'hospitales'"
                                    alt="Imagen de hospitales"
                                    class="img-fluid"
                                />
                            </td>
                            <td>{{ hospital.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="hospitales.length === 0">
                    No se encontro ningún registro
                </div>
            </div>
        </div>
    </div>
</div>
