.error-box .img-container {
    width: 264px;
    margin: 0 auto;
}
.error-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.error-body {
    padding-top: 5%;
}
.error-body h1 {
    font-size: 10rem;
    font-weight: 900;
    line-height: 10rem;
}
